{% extends "private/base.html" %}
{% load widget_tweaks %}
{% block content %}

<h4>Cambiar Contraseña</h4>


<form method="post">
    {% csrf_token %}
                    <div class="mb-3 position-relative">
                    {{ form.new_password1.label_tag }}
                    <div class="input-group">
                        {{ form.new_password1|add_class:"form-control" }}
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" id="togglePassword1">
                                <i class="bi bi-eye" id="togglePasswordIcon1"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mb-3 position-relative">
                    {{ form.new_password2.label_tag }}
                    <div class="input-group">
                        {{ form.new_password2|add_class:"form-control" }}
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" id="togglePassword2">
                                <i class="bi bi-eye" id="togglePasswordIcon2"></i>
                            </button>
                        </div>
                    </div>
                </div>
    <a class="btn btn-outline-primary" href="{% url 'private:view_profile' %}">Regresar</a>
    <button class="btn btn-primary" type="submit">Cambiar contraseña</button>
</form>
{% include 'auth/show_password.html' with buttonId="togglePassword1" passwordSelector="[name='new_password1']" iconId="togglePasswordIcon1" %}
{% include 'auth/show_password.html' with buttonId="togglePassword2" passwordSelector="[name='new_password2']" iconId="togglePasswordIcon2" %}

{% endblock %}
