{% extends "private/base.html" %}

{% block content %}
<div class="container">
    <h1 class="mb-4 text-center">Lista de Pedidos</h1>
    <a href="{% url 'orders:create' %}" class="btn btn-primary mb-3">
        <i class="bi bi-plus-circle"></i>
        Nuevo Pedido</a>

        {% include 'private/frames/pagination.html' %}
    <div id="app">
        
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Cliente</th>
                        <th>Fecha Solicitada</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.client.name }}</td>
                        <td>{{ order.request_date }}</td>
                        <td>Q{{ order.total }}</td>
                        <td>
                            <a href="{% url 'orders:detail' order.id %}" class="btn btn-sm btn-info"> 
                            <i class="bi bi-eye"></i>    
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        
    </div>
</div>
{% endblock %}

