{% extends "private/base.html" %}

{% block content %}
<div class="container-xl py-4">
    
    <a href="{% url 'orders:list' %}" class="btn btn-secondary mb-4">
        ← Regresar
    </a>

            <!-- Encabezado del Pedido -->
            <div class="c mb-4">
                <h2 class="text-center">Pedido #  {{order.id}}</h2>
                <div class="card p-2">
                    <div class="row text-center">
                        <div class="col mt-2">
                            <p><strong>Cliente:</strong> {{ order.client.name }}</p>
                        </div>
                        <div class="col mt-2">
                            <p><strong>Teléfono:</strong> {{order.client.phone}} </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Detalles del Pedido -->
            <h4 class="text-center mb-3">Detalles del Pedido</h4>
            <div class="table-responsive">
                <table class="table table-striped table-hover align-middle text-end shadow-sm">
                    <thead class="table-secondary text-center">
                        <tr>
                            <th class="text-start">Cantidad</th>
                            <th class="text-start">Descripción</th>
                            <th>Precio Unitario</th>
                            <th>Subtotal</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for line in order.lines.all %}
                        <tr>
                            <td class="text-start">{{line.quantity}}</td>
                            <td class="text-start">{{line.description}}</td>
                            <td>{{line.unit_price}}</td>
                            <td>{{line.subtotal}}</td>
                            <td>
                                <a class="btn btn-sm btn-success" href="{% url 'orders:update-line' line.id %}">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a class="btn btn-sm btn-danger" href="{% url 'orders:delete-line' line.id %}">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="text-end">
                                <a href="{% url 'orders:create-line' order.id %}" class="btn btn-sm btn-primary"> <i class="bi bi-plus" ></i>  Agregar Línea</a>
                            </td>
                    </tbody>
                    <tfoot class="fw-bold">
                        <tr class="table-light">
                            <td colspan="3" class="text-end">Total</td>
                            <td>Q {{ order.get_total}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-end">Anticipo</td>
                            <td>Q {{ order.anticipo }}</td>
                            <td></td>
                        </tr>
                        <tr class="table-warning">
                            <td colspan="3" class="text-end">Saldo Pendiente</td>
                            <td>Q {{ order.saldo }}</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <!-- Información adicional -->
            <div class="row text-center mt-4">
                <div class="col-md-4 mb-2">
                    <div class="card p-2">
                        <strong>Fecha Solicitada</strong>
                        <p class="mb-0">{{order.request_date}} </p>
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="card p-2">
                        <strong>Fecha Entrega</strong>
                        <p class="mb-0">{{order.deadline}}</p>
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="card p-2">
                        <strong>Encargado</strong>
                        <p class="mb-0">{{order.responsible.name}}</p>
                    </div>
                </div>
            </div>
            
            <div class="text-center mt-2">
                <a href="#" class="btn btn-primary">Imprimir</a>
                <a href="{% url 'orders:update' order.id %}">Editar</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}
