.navbar-left {
    width: 250px;
    height: 100vh;
  }
  .content-area {
    margin-left: 250px;
    padding: 20px;
  }
  @media (max-width: 992px) {
    .navbar-left {
      margin-left: -250px;
      position: absolute;
    }
    .content-area {
      margin-left: 0;
    }
  }
  .offcanvas-half {
    width: 60% !important;
  }