{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
            {% if message.tags == "danger" %}
                <i class="bi bi-exclamation-triangle-fill"></i>
            {% elif message.tags == "success" %}
                <i class="bi bi-check-circle-fill"></i>
            {% elif message.tags == "warning" %}
                <i class="bi bi-exclamation-circle-fill"></i>
            {% elif message.tags == "info" %}
                <i class="bi bi-info-circle-fill"></i>
            {% endif %}
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}