{% load static %}
        <!-- Contenido del perfil -->
        <div class="card-body text-center">
            <!-- Foto de perfil -->
            <div class="profile-pic-container position-relative">

                {% if user.photo %}
              <a href="{{user.photo.url}}" target="_blank">
              <img 
                class="rounded-circle border border-3 border-white position-absolute" 
                src="{{ user.photo.url }}"
                alt="Foto de perfil" 
                style="width: 120px; height: 120px; top: -60px; left: 50%; transform: translateX(-50%);">
              </a>
            {% else %}
                <img 
                  class="rounded-circle border border-3 border-white position-absolute" 
                  src="{% static 'img/untils/nophoto.jpg' %}"
                  alt="Foto de perfil" 
                  style="width: 120px; height: 120px; top: -60px; left: 50%; transform: translateX(-50%);">
            {% endif %}
            </div>
            
            <div style="margin-top: 64px;">
                <!-- Nombre completo y rol -->
                <h3 class="text-capitalize">{{ user.get_full_name }}</h3>
                <p class="badge bg-secondary">{{ user.get_role_display }}</p>
            </div>

            <!-- Información del usuario -->
            <ul class="list-unstyled mt-1">
                <li><strong>Usuario:</strong> {{ user.username }}</li>
                <li><strong>Email:</strong> {{ user.email }}</li>
                <li><strong>Teléfono:</strong> {{ user.phone_number }}</li>
                <li><strong>Fecha de nacimiento:</strong> {{ user.date_of_birth }}</li>
                <li><strong>Género:</strong> {{ user.get_gender_display }}</li>
            </ul>
            
        </div>
