{% extends "private/base.html" %}
{% load widget_tweaks %}

{% block content %}
    <div>
        <h1>{{ view.object.pk|yesno:"Editar Usuario,Crear Usuario" }}</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="{{ form.first_name.id_for_label }}" class="form-label">Nombres</label>
                {{ form.first_name|add_class:"form-control" }}
            </div>
            <div class="row">

                <div class="col form-group">
                    <label for="{{ form.last_name.id_for_label }}" class="form-label">Primer Apellido</label>
                    {{ form.last_name|add_class:"form-control" }}
                </div>
                <div class="col">
                    <label for="{{ form.second_last_name.id_for_label }}" class="form-label">Segundo Apellido</label>
                {{ form.second_last_name|add_class:"form-control" }}
            </div>

            </div>
            

            <div class="form-group">
                <label for="{{ form.email.id_for_label }}" class="form-label">Correo Electr&oacute;nico</label>
                {{ form.email|add_class:"form-control" }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.phone_number.id_for_label }}" class="form-label">Teléfono</label>
                {{ form.phone_number|add_class:"form-control" }}
            </div>

            <div class="form-group">
                <label for="{{ form.date_of_birth.id_for_label }}" class="form-label">Fecha de Nacimiento</label>
                {{ form.date_of_birth|add_class:"form-control" }}
            </div>

            <div class="form-group">
                <label for="{{ form.gender.id_for_label }}" class="form-label">Género</label>
                {{ form.gender|add_class:"form-control" }}
            </div>
            
            <div class="mb-3 position-relative">
                {{ form.password1.label_tag }}
                <div class="input-group">
                    {{ form.password1|add_class:"form-control" }}
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" id="togglePassword1">
                            <i class="bi bi-eye" id="togglePasswordIcon1"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mb-3 position-relative">
                {{ form.password2.label_tag }}
                <div class="input-group">
                    {{ form.password2|add_class:"form-control" }}
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" id="togglePassword2">
                            <i class="bi bi-eye" id="togglePasswordIcon2"></i>
                        </button>
                    </div>
                </div>
            </div>

            <a class="btn btn-outline-primary mt-3" href="{% url 'users:list' %}">Cancelar</a>
            <button class="btn btn-primary mt-3" type="submit">Guardar</button>
        </form>
    </div>

    {% include 'auth/show_password.html' with buttonId="togglePassword1" passwordSelector="[name='password1']" iconId="togglePasswordIcon1" %}
    {% include 'auth/show_password.html' with buttonId="togglePassword2" passwordSelector="[name='password2']" iconId="togglePasswordIcon2" %}
{% endblock %}
