{% extends 'private/base.html' %}
{% block content %}
<h1 class="mb-4 text-center">Eliminar Cliente</h1>

    <form method="post">
        <div class="alert alert-danger" role="alert">
        <strong>¡Atención!</strong> ¿Estás seguro de que deseas eliminar al Cliente {{ client.name }}?
        </div>
    
    <p class="text-muted">Esta acción no se puede deshacer.</p>
    
        {% csrf_token %}
        <a href="{% url 'clients:client_detail' client.id %}" class="btn btn-secondary">Cancelar</a>

        <button type="submit" class="btn btn-danger">Eliminar</button>
                
            </form>

{% endblock %}
